name: Destroy Infrastructure

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: infra/terraform/eks
        run: |
          cat <<EOF > backend.tfbackend
          bucket = "${{ secrets.TF_STATE_BUCKET }}"
          key    = "terraform.tfstate"
          region = "us-east-1"
          EOF
          terraform init -backend-config=backend.tfbackend

      - name: Terraform Destroy
        working-directory: infra/terraform/eks
        run: terraform destroy -var="tf_state_bucket=${{ secrets.TF_STATE_BUCKET }}" -auto-approve
